*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid #3B8448;
}
html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.25;
}

h1,
h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
}